body {
  margin-top: 100px;
}

p {
  font-family: "Questrial", "Helvetica", "Arial", sans-serif;
  text-align: justify;
  font-size: 16px;
  color: #666;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Questrial";
  color: #424242;
  text-align: center;
}

h3 {
	line-height: 32px;
}

h5 {
	text-align: left;
	font-size: 18px;
	color: #5e2a82;
	padding-top: 30px;
	padding-bottom: -10px;
}

a {
  color: #5e2a82;
}

a:hover {
  color: #6acfc3;
  text-decoration: none;
}

img.bg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.2;
	filter: alpha(opacity=20);
	}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.beta {
	margin-top: 80px;
	margin-bottom: 80px;
}

.center {
	text-align: center;
	}

.logo {
  max-width: 600px;
  width: 100%;
  height: auto;
  max-height: 220px;
  margin-top: 40px;
}

.navbar {
  background-color: #5e2a82;
}

.navbar-fixed-top {
  background-color: #5e2a82;
}

.navbar-fixed-bottom {
  background-color: #424242;
}

.form-control.input-large {
  border: 4px solid #bebebe;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
}

.form-control.input-large:focus {
	-webkit-box-shadow: 0px 0px 6px #00af99;
  box-shadow: 0px 0px 6px #00af99;
}


.email-add {
  margin-left: 0px;
  margin-top: 40px;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  width: 100%;
}

.iam {
	max-width: 250px;
	width: 100%;
	max-height: 260px;
	height: auto;
	padding: 10px;
	float: left;
	}
	
.iam:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
	
.cartoon {
	width: 160px;
	height: auto;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 20px;
	float: right;
}

.cartoon-computer {
	width: 220px;
	height: auto;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 20px;
	float: left;
}

.cartoon-convo {
	float: right;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
}

label {
	font-family: "Questrial", "Helvetica", "Arial", sans-serif;
	color: #666;
	font-size: 15px;
}

.email-header {
	margin-top: 30px;
	margin-bottom: 60px;
	line-height: 32px;
}